body{
	margin: 0;
	padding: 0;
	background-color: #d7d9da;
	cursor: default;
	user-select:none;
}
input{
	user-select:none;
	cursor: text;
    width: 14em;
    padding: 0.3em;
    box-sizing: border-box;
}
select,input{
	outline: none;
}
button{
	padding: .3em 1.3em;
}
#side{
	position: fixed;
	z-index: 999;
	height: 100%;
}
#side .side_button{
	width:34px;
	height: 34px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 65%;
	display: block;
	cursor: pointer;
}
#side .side_button.active{
	background-color: rgba(255,255,255,.4);
}
#side .side_button:hover{
	background-color: rgba(255,255,255,.4);
}
#main{
	padding-left: 34px; 
	width: 100%;
	box-sizing: border-box;
	min-height: 100%;
}

/*sub_page*/
.sub_page{
	padding: .6em;
	position: relative;
	display: none;
	box-sizing: border-box;
	min-height: 100%;
	background-color: rgba(255,255,255,.4);
}
.sub_page.active{
	display: block;
}

/*server page*/
#server_settings_frame{
	display: flex;
	width: 100%;
}
#server_settings_frame>div{
	padding: .4em;
}
#server_settings_frame #server_list{
	width: 15em;
	margin-bottom: 0.6em;
}
#server_settings_frame #server_info{
	flex-grow:1;
	text-align: right;
	position: relative;
	font-size: 0.8em;
}
#server_settings_frame #server_info > div{
	margin-bottom: .2em;
}