@charset "UTF-8";

/* meyerweb.com/eric/tools/css/reset 2.0 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none;}
table{border-collapse:collapse;border-spacing:0;}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    border-radius: 90px;
    background-color: rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.4);
}

a {
    outline: none;
    cursor: pointer;
}

button,
input,
select,
option {
    font-family: "PingFang SC", "Microsoft YaHei";
    font-size: 12px;
    line-height: 20px;
    outline: none;
    border: none;
    border-radius: 4px;
    vertical-align: middle;
}

button,
input:not([type="checkbox"]),
select,
option {
    -webkit-appearance: none;
}

button {
    padding: 1px 14px;
    margin-top: 10px;
    background-color: #E7E7E7;
}

button:hover {
    background-color: #D7D7D7;
}

button:active {
    background-color: #E7E7E7;
    box-shadow: 0 0 0 1px #1E90FF;
}

input:not([type="checkbox"]),
select:not([size]) {
    border-radius: 0;
    border-bottom: 1px solid #C7C7C7;
    background-color: transparent;
}

input:not([type="checkbox"]):focus,
select:not([size]):focus {
    border-bottom-color: #1E90FF;
}

input::-webkit-input-placeholder {
    color: #808080;
}

input:not([type="checkbox"]) {
    padding: 0;
    width: 160px;
}

input[type="checkbox"] {
    margin-left: 0;
}

select {
    width: 160px;
}

select:not([size]) {
    padding: 0;
    width: auto;
    max-width: 160px;
}

select[size] {
    width: 164px;
    padding: 4px 0 4px 4px;
}

option {
    padding: 2px 4px;
}

table {
    position: relative;
    min-width: 100%;
    border-radius: 4px;
    background-color: #FFFFFF;
}

table > *:first-child > *:first-child > *:first-child {
    border-top-left-radius: 4px;
}

table > *:first-child > *:first-child > *:last-child {
    border-top-right-radius: 4px;
}

table > *:last-child > *:last-child > *:first-child {
    border-bottom-left-radius: 4px;
}

table > *:last-child > *:last-child > *:last-child {
    border-bottom-right-radius: 4px;
}

table tr:hover,
table tr:active {
    background-color: #F2F2F2;
}

table th,
table td {
    padding: 4px 8px;
}

table th {
    text-align: left;
    font-weight: 700;
    background-color: #E7E7E7;
}

label {
    white-space: nowrap;
    display: inline-block;
}

fieldset {
    padding: 10px;
    border: 1px solid #C7C7C7;
    border-radius: 4px;
}

legend {
    padding: 0 2px;
    color: #808080;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
    cursor: default;
    font-family: "PingFang SC", "Microsoft YaHei";
    font-size: 12px;
    line-height: 20px;
    word-break: break-all;
    color: #000000;
    background-color: #F7F7F7;
    user-select: none;
}

/* Side */
#side {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #E7E7E7;
}

:root {
    --side_button_size: 36px;
}

.side_button {
    width: var(--side_button_size);
    height: var(--side_button_size);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 38.2%;
}

.side_button.active {
    background-color: #F7F7F7;
}

.sub_page {
    padding: 10px;
    min-height: calc(var(--side_button_size) * 5 - 20px);
}

.sub_page:not(.active) {
    display: none;
}

/* Main */
#main {
    margin-left: var(--side_button_size);
}

/* Server Page */
#server_settings_frame {
    display: flex;
    /*max-width: 462px;*/
}

#server_settings_frame > div {
    flex: auto;
}

#server_settings_frame > div:nth-child(2) {
    margin-left: 10px;
}

#server_setting > div,
fieldset > div:not(:last-child) {
    display: flex;
}

#server_setting > div:not(:first-child),
fieldset > div:not(:first-child):not(:nth-child(2)) {
    margin-top: 6px;
}

#server_setting > div > div:first-child,
fieldset > div > div:first-child {
    flex: auto;
    text-align: right;
}
#server_setting > div > div:last-child,
fieldset > div > div:last-child {
    width: 160px;
}

fieldset > div:last-child label {
    margin-right: 4px;
}

/* Socks Page */
#socks_settings_frame {}

/* Info Page */
#info_frame {}